@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-Orange: hsl(12, 88%, 59%);
    --Blue: hsl(228, 39%, 23%);
    --primary-Gray: hsl(233, 12%, 13%);
    --secondary-Orange: hsl(13, 100%, 96%);
    --secondary-Gray: hsl(0, 0%, 98%);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-Gray);
}

p {
    color: gray;
}

.btn {
    max-width: fit-content;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 15px;
    border: 0;
}

.btn-primary {
    background-color: var(--primary-Orange);
    color: var(--secondary-Gray);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn-secondary {
    background-color: #ffff;
    color: var(--primary-Orange);
}

section {
    padding: 5rem 0;
}

/* START HEADER */
#header {
    min-height: 100vh;
    position: relative;
}

#header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
}

#header .navbar ul {
    display: flex;
}

#header .navbar .navbar-home {
    position: relative;
    width: 45px;
    height: 45px;
}

#header .navbar .navbar-home img {
    display: none;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;
    cursor: pointer;
    width: 70%;
}

#header .navbar ul li a {
    margin: 0 10px;
    color: var(--primary-Gray);
    transition: .4s;
}

#header .navbar ul li a:hover {
    color: var(--primary-Orange);
}


@media (max-width:800px) {

    #header .navbar {
        justify-content: space-between;
        padding: 10px;
    }

    #header .navbar .btn-primary,
    #header .navbar ul {
        display: none;
    }

    #header .navbar .navbar-home img.active {
        display: block;
    }

    #header .navbar .navbar-home img:last-child.active {
        animation: rotate .4s ease-in-out forwards;
    }

    @keyframes rotate {
        from {
            opacity: 0.4;
            transform: rotate(180deg);
        }

        to {
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    #header .navbar ul.active {
        display: block;
        position: absolute;
        width: 100%;
        background-color: var(--secondary-Gray);
        top: 70px;
        z-index: 10;
        text-align: center;
        padding: 10px 0;
        animation: fade-In 1s forwards ease-in-out;
    }

    #header .navbar ul.active li {
        margin: 15px 0;
    }
}

#home {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .row .col:last-child {
    width: 100%;
}

#home .row .col:last-child img {
    width: 100%;
}

#home .row .col h1 {
    font-weight: 800;
    font-size: 45px;
    max-width: 80%;
    color: var(--primary-Gray);
}

#home .row .col p {
    margin: 20px 0;
    max-width: 65%;
}

#home .tablet-pattern {
    position: absolute;
    top: -160px;
    z-index: -1;
    right: -90px;
}


@media (max-width:1000px) {
    #home {
        padding: 2rem 0;
    }

    #home .row {
        flex-direction: column-reverse;
    }

    #home .row .col:last-child {
        width: 400px;
    }

    #home .row .col:first-child {
        text-align: center;
    }

    #home .row .col p,
    #home .row .col h1 {
        max-width: 75%;
        margin: 10px auto;
    }

    #home .tablet-pattern {
        right: -70px;
        width: 600px;
    }
}



@media (max-width:800px) {
    #home .row .col:last-child img {
        width: 350px;
    }

    #home .tablet-pattern {
        right: -80px;
        width: 500px;
    }
}


/* END HEADER */
/* START ABOUT */
#about .row {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#about .row .col h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#about .row .col p {
    line-height: 1.5;
}

#about .row ul li {
    position: relative;
    margin: 30px 0;
}

#about .row ul li .col-li {
    display: flex;
}

#about .row ul li .col-li .btn-primary {
    padding: 4px 15px;
    margin-right: 20px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .row ul li .col-li .content-li h4 {
    margin: 0 0 15px 0;
    font-weight: 800;
}

#about .row ul li .col-li .content-li p {
    line-height: 1.5;
    max-width: 85%;
}

@media (max-width:1000px) {
    #about .row {
        padding: 0 10px;
        flex-direction: column;
        gap: 3rem;
    }

    #about .row .col:first-child p,
    #about .row .col:first-child h2 {
        text-align: center;
        max-width: 70%;
        margin: auto;
    }

    #about .row ul li .col-li .content-li h4 {
        background: var(--secondary-Orange);
        padding: 10px 15px;
        border-radius: 15px;
    }
}

/* END ABOUT */

/* START TESTIMONIALS */
#testimonials h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#testimonials .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 3rem;
    row-gap: 1rem;
    padding: 0 10px;
}

#testimonials .boxs .box {
    text-align: center;
}

#testimonials .box {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1.6s ease;
}

#testimonials .box.show {
    opacity: 1;
    transform: translateY(0);
}

#testimonials .boxs .box img {
    width: 80px;
}

#testimonials .boxs .box h3 {
    margin: 20px 0;
}

#testimonials .btn-primary {
    display: block;
    margin: 40px auto;
}


@media (max-width:600px) {
    #testimonials .boxs .box {
        max-width: 80%;
        margin: 10px auto;
    }
}

/* END TESTIMONIALS */

/* START BANNER */
#banner {
    background-color: var(--primary-Orange);
}

#banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .container h3 {
    font-size: 35px;
    max-width: 40%;
    color: #fff;
}

@media (max-width:900px) {
    #banner .container h3 {
        max-width: 80%;
    }
}


@media (max-width:700px) {
    #banner .container h3 {
        max-width: 60%;
        text-align: center;
        margin-bottom: 20px;
    }

    #banner .container {
        flex-direction: column;
    }
}

/* END BANNER */

/* START FOOTER */
#footer {
    padding: 30px 0;
    background-color: var(--Blue);
}

#footer ul {
    display: flex;
    justify-content: space-between;
}

#footer ul li:last-child,
#footer ul li:first-child {
    position: relative;
}

#footer ul li .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer ul li .social-icons img {
    cursor: pointer;
    transition: .4s;
}

#footer ul li .social-icons img:hover {
    color: var(--primary-Orange);
    transform: translateY(-5px);
}

#footer ul li.search-form p {
    position: absolute;
    bottom: 0;
}

#footer ul li p {
    color: #fefefe;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}

#footer input {
    padding: 7px 20px;
    border-radius: 20px;
    outline: none;
}

@media (max-width:900px) {

    #footer ul {
        flex-direction: column;
        text-align: center;
    }

    #footer ul li .social-icons {
        max-width: 220px;
        position: relative;
        margin: auto;
        display: block;
    }

    #footer ul li.search-form p {
        position: relative;
    }
}

/* END FOOTER */




/* ============================= */
/* ANIMATION */
/* ============================= */

.fade-In {
    animation: fade-In 2.3s forwards ease-in-out;
}

@keyframes fade-In {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.topToBottom {
    animation: top 2s forwards linear;
}

@keyframes top {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.bottompToTop {
    animation: bottom 2s forwards linear;
}

@keyframes bottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}