@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root {
    --primary-Orange: hsl(12, 88%, 59%);
    --Blue: hsl(228, 39%, 23%);
    --primary-Gray: hsl(233, 12%, 13%);
    --secondary-Orange: hsl(13, 100%, 96%);
    --secondary-Gray: hsl(0, 0%, 98%);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-Gray);
}

p {
    color: gray;
}

.btn {
    max-width: fit-content;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 15px;
    border: 0;
}

.btn-primary {
    background-color: var(--primary-Orange);
    color: var(--secondary-Gray);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn-secondary {
    background-color: #ffff;
    color: var(--primary-Orange);
}

section {
    padding: 5rem 0;
}

/* START HEADER */
#header {
    min-height: 100vh;
    position: relative;
    /* background-color: red; */
}

#header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
}

#header .navbar ul {
    display: flex;
}

#header .navbar ul li a {
    margin: 0 10px;
    color: var(--primary-Gray);
}

#home {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .row .col h1 {
    font-weight: 800;
    font-size: 45px;
    max-width: 80%;
    color: var(--primary-Gray);
}

#home .row .col p {
    margin: 20px 0;
    max-width: 65%;
}

#home .tablet-pattern {
    position: absolute;
    top: -160px;
    z-index: -1;
    right: 0;
}

/* END HEADER */
/* START ABOUT */
#about {}

#about .row {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#about .row .col h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

#about .row .col p {
    line-height: 1.5;
}

#about .row ul li {
    position: relative;
    margin: 30px 0;
}

#about .row ul li .col-li {
    display: flex;
}

#about .row ul li .col-li .btn-primary {
    padding: 4px 15px;
    margin-right: 20px;
    max-height: fit-content;
}

#about .row ul li .col-li .content-li h4 {
    margin: 0 0 15px 0;
    font-weight: 800;
}

#about .row ul li .col-li .content-li p {
    line-height: 1.5;
    max-width: 85%;
}

/* END ABOUT */

/* START TESTIMONIALS */
#testimonials {}

#testimonials h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#testimonials .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 3rem;
    row-gap: 1rem;
}

#testimonials .boxs .box {
    text-align: center;
}

#testimonials .boxs .box img {
    width: 80px;
}

#testimonials .boxs .box h3 {
    margin: 20px 0;
}

#testimonials .btn-primary {
    display: block;
    margin: 40px auto;
}

/* END TESTIMONIALS */

/* START BANNER */
#banner {
    background-color: var(--primary-Orange);
}

#banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .container h3 {
    font-size: 35px;
    max-width: 40%;
    color: #fff;
}

/* END BANNER */

/* START FOOTER */
#footer {
    padding: 30px 0;
    background-color: var(--Blue);
}

#footer ul {
    display: flex;
    justify-content: space-between;
}

#footer ul li:last-child,
#footer ul li:first-child {
    position: relative;
}

#footer ul li .social-icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer ul li.search-form p{
    position: absolute;
    bottom: 0;
}

#footer ul li p {
    color: #fefefe;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}

#footer input {
    padding: 7px 20px;
    border-radius: 20px;
    outline: none;
}

/* END FOOTER */